<footer>
            <div class="container">
                <div class="row footer-top">
                    <div class="col-lg-4 footer-grid_section_w3layouts">
                        <h2 class="logo-2 mb-lg-4 mb-3">
                            <a href="/"><span class="fa fa-hospital-o"></span>webodoc</a>
                        </h2>
                        <p>A Django powered image classifier for classifying Pnuemonia and Malaria cell infected images.</p>
                        
                    </div>
                    <div class="col-lg-8 footer-right">
                       
                        <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                            <div class="col-md-4 footer-grid_section_w3layouts">
                                <h3 class="footer-title mb-lg-4 mb-3">Information</h3>
                                <ul class="list-unstyled w3layouts-icons">
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="mt-3">
                                        <a href="">About Us</a>
                                    </li>
                                    <li class="mt-3">
                                        <a href="https://github.com/risenW/Disease_classifier">Github</a>
                                    </li>
                                    
                                </ul>
                            
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- //footer -->
        <div class="cpy-right py-3">
            <div class="container">
                <div class="row">
                    <p class="col-md-10 text-left">© 2019 WeboDoc. All rights reserved </p>
                    <!-- move top icon -->
                    <a href="#home" class="move-top text-lg-right text-center col-md-2"><span class="fa fa-angle-double-up" aria-hidden="true"></span></a>
                    <!-- //move top icon -->
                </div>
            </div>

        </div>